* {
    margin: 0;
    padding: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #FCFCFD, #E8ECEF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3vw;
    font-family: 'Archivo Black', sans-serif;
    color: black;
    position: absolute;
    top: 35px;
    left: 50px;
}

.title-2 {
    color: #A48374;
    font-family: 'Archivo Black', sans-serif;
}

.container {
    display: flex;
    width: 60vw;
    justify-content: space-around;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 20vw;
    height: 60vh;

    background-color: #7077A1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.input-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section-title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2vw;
}

.sub-title {
    font-size: 1.3vw;
}

.entry-input {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 18vw;
    height: 40vh;
    border-radius: 15px;
    background-color: #424769;
    padding-left: 10px;
    padding-top: 5px;
    resize: none;
    font-size: 1.2vw;
    font-family: "Outfit", sans-serif;
}

.entry-input::-webkit-scrollbar-track {
    display: none;
}

.entry-input::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 15px;
}

.entry-input::-webkit-scrollbar {
    width: 8px;
    background-color: #E8ECEF;
    border-radius: 15px;
}

.submit-button {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.send-image {
    width: 100%;
    height: 100%;
    background-color: #424769;
    border-radius: 50px;
    padding: 3px;
}

.loading-spinner {
    width: 40px;
    height: 40px;
}

.journal-content {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 18vw;
    height: 40vh;
    border-radius: 15px;
    background-color: #424769;
    padding-left: 10px;
    padding-top: 5px;
    resize: none;
    font-size: 1.2vw;
    font-family: "Outfit", sans-serif;
}

.journal-content::-webkit-scrollbar-track {
    display: none;
}

.journal-content::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 15px;
}

.journal-content::-webkit-scrollbar {
    width: 8px;
    background-color: #E8ECEF;
    border-radius: 15px;
}

.history-list {
    display: flex;
    /*column-reverse to display journal content in the right order*/
    flex-direction: column-reverse;
}

.history-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10vw;
}

.undo-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #424769;
    border-radius: 50px;
    padding: 3px;
}

.delete-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #424769;
    border-radius: 50px;
    padding: 3px;
}
