* {
    margin: 0;
    padding: 0;

    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/*
.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

.table {
    width: 100vw;
    height: 100vh;
    background-color: #070F2B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    width: 60vw;
    height: 80vh;
    background-color: #3E3232;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.page {
    width: 25vw;
    height: 70vh;
    background-color: #EFE1D1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seam {
    height: 70vh;
    width: 10px;
    background-color: black;
}

.journal-title {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.entry-title {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.entry-chat {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 20vw;
    font-size: 1.5rem;
    height: 50vh;
    border: 2px solid black;
    background-color: #EEF0E5;
    padding: 5px;
}

/* Hide the scrollbar track */
.entry-chat::-webkit-scrollbar-track {
    display: none;
}

/* Style the scrollbar thumb */
.entry-chat::-webkit-scrollbar-thumb {
    background-color: black; /* Change the color of the thumb */
}

/* Optionally, you can style the scrollbar track as well */
.entry-chat::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
    background-color: #EEF0E5; /* Change the color of the track */
    border-radius: 15px; /* Round the corners of the track */
}

.input-container {
    margin-top: 2vh;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-input {
    margin-left: -0.3vw;
    width: 16vw;
    height: 40px;
    border: 2px solid black;
    background-color: #EEF0E5;
    padding-left: 10px;
    font-size: 1.2rem;
}

.submit-button {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.feather-img {
    width: 100%;
    height: 100%;
}

.loading-spinner {
    width: 40px;
    height: 40px;
}
